<settings>
    <servers>
        <server>
            <id>artifactory-snapshots</id>
            <username>${artifactory.user}</username>
            <password>${artifactory.password}</password>
        </server>
        <server>
            <id>artifactory-releases</id>
            <username>${artifactory.user}</username>
            <password>${artifactory.password}</password>
        </server>
    </servers>
</settings>